.container {
    display: flex;
    background-color: rgb(237, 237, 237);
    justify-content: space-between;
    padding: 13px 50px;
}

@media screen and (width >= 1000px) {
    .container {
        justify-content: center;
        align-items: center;
    }
    .data {
        margin-right: 100px;
    }
}

.data {
    display: flex;
    flex-direction: column;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
    gap: 5px;
}

label {
    margin-bottom: 8px;
}

input[type="text"], textarea {
    font-size: 12pt;
    margin-bottom: 5px;
    padding: 4px;
}

textarea {
    height: 120px;
    width: 460px;
    max-width: 500px;
}

input[type="file"] {
    margin: 7px 0px;
}

button {
    padding: 10px 60px;
    font-size: 12pt;
    font-weight: 500;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 5px;
    background: #FFF;
    cursor: pointer;
    transition: 0.2s ease;
}
button:hover {
    background-color: #efefef;
}

.previewBtn {
    font-size: 10pt;
    text-decoration: underline;
    padding: 5px 51px;
}

.notification_container {
    opacity: 0;
    position: absolute;
    top: 7%;
    right: 4%;
    background-color: rgb(5, 162, 5);
    color: #FFF;
    border-radius: 10px;
    padding: 7px 15px 15px 15px;
    filter: drop-shadow(0px 0px 10px #0000003f);
}
.animate_notif {
    animation: post-anim 4s linear 1 forwards;
}
@keyframes post-anim {
    0% {
        opacity: 0;
    }
    20%, 70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.notification_container p {
    font-weight: 200;
    font-size: 11pt;
}
.notification_container h3 {
    font-size: 12pt;
    font-weight: 500;
}